header {
	ul {
     //@todo delete after view

        li {
            margin-left: 300px;

            a {
                &.phone {
                    position: relative;

                    &:hover {
                        color: #33ee44;

                        &::after {
                            background-image: url("../images/badge_sale.png");
                        }
                    }

                    &::before {
                        position: absolute;
                        content: 'Zelos';
                        top: 4px;
                        right: -15px;
                    }

                    &::after {
                        position: absolute;
                        top: 4px;
                        left: -15px;
                        width: 10px;
                        height: 10px;
                        content: '';
                        background-image: url("../images/badge_hit.png");
                        background-size: contain;
                    }
                }
            }
        }
    }
}
