body {
	position: relative;
	min-height: 100%;
	header {
		position: relative;
		min-height: 100px;
		width: 100%;
		h1{
			position: absolute;
			left: 110px;
			top: 45px;
		}
    	.logo{
    		img{
    		position: absolute;
    	//	border: 1px solid;
    		height: 100px;
    		width: 100px;
    		}
    	}
    	ul{
    		position: absolute;
    		right: 5px;
    		top: 25px;
    		text-align: right;
    	}
    }
}