main{
	display: inline-block;
	min-width: 100%;

	.breadcrumbs{
				
		ul{
			li{
				display: inline-block;
			}
											
			li:after{
				content:  " >" ;
			}
			li:last-child:after{
				content: "";
			}				
		}
	}
	section.left{
		display: inline-block;
		width: 20%;
		vertical-align: top;
				
		ul{
			li{
				select{
					min-width: 90%;
					min-height: 24px;
				}
				input[type="text"]{
					width: 90%;
					height: 18px;
				}
			}
		}
				
				


	}
	section.top{
		display: inline-block;
		text-align: center;
		width: 59%;
		vertical-align: top;

	}
	section.right{
		display: inline-block;
		right: 0;
		width: 20%;
		vertical-align: top;
		margin-right: 0;
		}
}