nav{
	border: 2px solid;
	width: 99.7%;

	
	
	ul{
		display: inline-block;
		width: 100%;
		margin: -2px 0px -4px 0px;		// Не думаю что правильно...
		
		li{		
			display: inline-block;
			width: 33%;
			height: 100%;
			text-align: center;
			border-right: 2px solid;
			padding: 11px 0px;
			
			a{
				
			}
			input{
				width: 95%;

			}
		}
		li:nth-child(1):hover,li:nth-child(2):hover{
			background-color: #ccffaa;
		}
				
	}
	ul :last-child{
			border: none;
				
		}
}