/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/components/_input.scss */
input[type="text"].search {
  background: url(http://img.womtec.ru/google-chrome-plugins/8.jpg) no-repeat scroll;
  background-size: 4%;
  border: 1px solid;
  padding: 2px 2px 2px 20px;
  width: 90%;
}

/* line 1, ../scss/components/_button.scss */
.button {
  text-align: right;
  top: 400px;
  right: 10px;
}

/* line 1, ../scss/widgets/_header.scss */
header {
  min-height: 100px;
  width: 100%;
}
/* line 6, ../scss/widgets/_header.scss */
header .logo {
  float: left;
}
/* line 9, ../scss/widgets/_header.scss */
header .logo img {
  height: 100px;
  width: 100px;
}
/* line 15, ../scss/widgets/_header.scss */
header .Name {
  float: left;
  height: 100px;
  vertical-align: top;
}
/* line 20, ../scss/widgets/_header.scss */
header .Name h1 {
  margin-top: 45px;
}
/* line 26, ../scss/widgets/_header.scss */
header ul {
  vertical-align: top;
  height: 100px;
  margin-right: 10px;
  text-align: left;
  float: right;
  line-height: 35px;
}

/* line 1, ../scss/widgets/_nav.scss */
nav {
  border: 2px solid;
  width: 99.7%;
}
/* line 7, ../scss/widgets/_nav.scss */
nav ul {
  display: inline-block;
  width: 100%;
  margin: -2px 0px -4px 0px;
}
/* line 12, ../scss/widgets/_nav.scss */
nav ul li {
  display: inline-block;
  width: 33%;
  height: 100%;
  text-align: center;
  border-right: 2px solid;
  padding: 11px 0px;
}
/* line 23, ../scss/widgets/_nav.scss */
nav ul li input {
  width: 95%;
}
/* line 28, ../scss/widgets/_nav.scss */
nav ul li:nth-child(1):hover, nav ul li:nth-child(2):hover {
  background-color: #ccffaa;
}
/* line 33, ../scss/widgets/_nav.scss */
nav ul :last-child {
  border: none;
}

/* line 1, ../scss/widgets/_main.scss */
main {
  display: inline-block;
  min-width: 100%;
}
/* line 8, ../scss/widgets/_main.scss */
main .breadcrumbs ul li {
  display: inline-block;
}
/* line 12, ../scss/widgets/_main.scss */
main .breadcrumbs ul li:after {
  content: " >";
}
/* line 15, ../scss/widgets/_main.scss */
main .breadcrumbs ul li:last-child:after {
  content: "";
}
/* line 20, ../scss/widgets/_main.scss */
main section.left {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
/* line 27, ../scss/widgets/_main.scss */
main section.left ul li select {
  min-width: 90%;
  min-height: 24px;
}
/* line 31, ../scss/widgets/_main.scss */
main section.left ul li input[type="text"] {
  width: 90%;
  height: 18px;
}
/* line 42, ../scss/widgets/_main.scss */
main section.top {
  display: inline-block;
  text-align: center;
  width: 59%;
  vertical-align: top;
}
/* line 49, ../scss/widgets/_main.scss */
main section.right {
  display: inline-block;
  right: 0;
  width: 20%;
  vertical-align: top;
  margin-right: 0;
}

/* line 1, ../scss/widgets/_footer.scss */
footer {
  height: 75px;
  width: 99.9%;
}
/* line 12, ../scss/widgets/_footer.scss */
footer ul {
  height: 100%;
  text-align: center;
  border: 1px solid;
  vertical-align: middle;
}
/* line 26, ../scss/widgets/_footer.scss */
footer ul li {
  display: inline-block;
  margin-top: 30px;
}
/* line 31, ../scss/widgets/_footer.scss */
footer ul li:after {
  content: " |";
}
/* line 34, ../scss/widgets/_footer.scss */
footer ul li:last-child:after {
  content: "";
}

/* line 1, ../scss/layout/_html.scss */
html {
  min-width: 1200px;
  min-height: 500px;
  height: 100%;
}
/* line 6, ../scss/layout/_html.scss */
html body {
  height: 100%;
}
/* line 9, ../scss/layout/_html.scss */
html body .main {
  min-height: 100%;
  height: 100%;
}
/* line 27, ../scss/layout/_html.scss */
html body footer {
  position: relative;
  height: 75px;
  margin-top: -78px;
}
