input[type="text"] {
    &.search {
    	background: url(http://img.womtec.ru/google-chrome-plugins/8.jpg) no-repeat scroll;
    	background-size: 4%;
    	border: 1px solid;
    	padding: 2px 2px 2px 20px;
    	width: 90%;
    }
}